* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e3d9d9;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

header form {
    display: flex;
    justify-content: center;
    align-items: center;
}

header input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    width: 50%;
    max-width: 450px;
    border: none;
    border-radius: 25px;
    outline: none;
}

header button:hover {
    background-color: #FF5733;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.pokemon-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.pokemon-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.pokemon-image img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #F7F7F7;
}

.pokemon-info {
    padding: 15px;
    text-align: center;
    background-color: #FFCC00;
    color: #222;
}

.pokemon-info h2 {
    font-size: 1.5rem;
    margin: 0;
}

.pokemon-info p {
    font-size: 1rem;
    margin: 5px 0;
}

.pokemon-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #555;
}

.pokemon-details span {
    font-weight: bold;
    color: #000;
}

@media screen and (max-width: 768px) {
    header input[type="text"] {
        width: 60%;
        margin-bottom: 10px;
    }

    header button {
        display: block;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    header input[type="text"] {
        width: 80%;
        font-size: 0.9rem;
    }

    header button {
        font-size: 0.9rem;
    }

    .pokemon-card {
        font-size: 0.8rem;
    }

    .pokemon-info h2 {
        font-size: 1.2rem;
    }
}
